# Necessary
HF_REPO_ID=meta-llama/Llama-2-7b-chat-hf
LLM_NAME=llama2-7b-chat-hf

# Sometimes necessary
HF_TOKEN_READ=<your-huggingface-token>

# Detailed control
LLM_SIZE=7
LLM_QUANTIZATION=none
LLM_FORMAT=pytorch

N_GPUS=2
